<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119263440196-9lesrcntn1og556ifgmlvbtrmb8hchls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119263440196-9lesrcntn1og556ifgmlvbtrmb8hchls</string>
	<key>API_KEY</key>
	<string>AIzaSyBtrrg961aHTJy1Bjukgyvp_nWNkB5-eYs</string>
	<key>GCM_SENDER_ID</key>
	<string>119263440196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gokulnair.Flowerly</string>
	<key>PROJECT_ID</key>
	<string>flowerly-35d7f</string>
	<key>STORAGE_BUCKET</key>
	<string>flowerly-35d7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119263440196:ios:bf39aef6ce39592149fb11</string>
	<key>DATABASE_URL</key>
	<string>https://flowerly-35d7f.firebaseio.com</string>
</dict>
</plist>